################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AulaEntity/FileContentIndex/ceaea234-7525-4524-a0c2-5bd138197fdd.vsidx
