################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AulaEntity/FileContentIndex/ceaea234-7525-4524-a0c2-5bd138197fdd.vsidx
/.vs/AulaEntity/FileContentIndex/200403ba-dfd5-4738-83d4-d52527afe782.vsidx
/.vs/AulaEntity/FileContentIndex/249d1fdd-b362-4d1f-81ea-6a89d7c34be4.vsidx
/.vs/AulaEntity/DesignTimeBuild/.dtbcache.v2
/.vs/AulaEntity/FileContentIndex/28e8f6aa-eb3b-435c-9829-5da17d5cbdc7.vsidx
/.vs/AulaEntity/FileContentIndex/db85ec47-d9e7-4fdc-91bd-c6f814476df3.vsidx
