################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AulaEntity/FileContentIndex/ceaea234-7525-4524-a0c2-5bd138197fdd.vsidx
/.vs/AulaEntity/FileContentIndex/200403ba-dfd5-4738-83d4-d52527afe782.vsidx
/.vs/AulaEntity/FileContentIndex/249d1fdd-b362-4d1f-81ea-6a89d7c34be4.vsidx
/.vs/AulaEntity/DesignTimeBuild/.dtbcache.v2
/.vs/AulaEntity/FileContentIndex/28e8f6aa-eb3b-435c-9829-5da17d5cbdc7.vsidx
/.vs/AulaEntity/FileContentIndex/db85ec47-d9e7-4fdc-91bd-c6f814476df3.vsidx
/.vs/AulaEntity/FileContentIndex/500981d8-6267-491c-a128-998e761205c6.vsidx
/.vs/AulaEntity/FileContentIndex/5bb70e4e-8be7-4d1b-ba78-779e4ea03517.vsidx
/.vs/AulaEntity/FileContentIndex/1befabbf-a246-481d-904c-7ee520d7ee91.vsidx
/.vs/AulaEntity/FileContentIndex/76bc1bf6-166a-4fb4-90c1-9e67e5364900.vsidx
/.vs/AulaEntity/FileContentIndex/3c740bb1-852b-4e6c-8121-b8615e690349.vsidx
/.vs/AulaEntity/FileContentIndex/ac80153b-81f7-451e-90c1-f28e773d109d.vsidx
/.vs/AulaEntity/FileContentIndex/b7b4e716-4671-44e4-83e2-524606b55123.vsidx
/.vs/AulaEntity/FileContentIndex/8eaec3cf-2081-4e37-9cc4-bfb5b303e641.vsidx
/.vs/AulaEntity/FileContentIndex/4e26cd4d-066a-4157-8366-442349d97125.vsidx
/.vs/AulaEntity/FileContentIndex/e6195ea6-476a-4127-b47f-844aead8b564.vsidx
/.vs/AulaEntity/FileContentIndex/1b5bfdfb-adbb-48e2-9eaa-008d9cb0662b.vsidx
/.vs/AulaEntity/FileContentIndex/fcecb03e-bc2c-4087-b0c6-3371c6136c77.vsidx
/.vs/AulaEntity/FileContentIndex/535b2e55-aad3-4886-b085-2960115a251e.vsidx
/.vs/AulaEntity/FileContentIndex/2c95a071-41ba-49dc-838c-0083ce33e06b.vsidx
/.vs/AulaEntity/FileContentIndex/91314f20-287d-4dc8-9865-d81125bc5c1b.vsidx
