@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <div class="row">
        <div class="col-md-3">
            <label for="btnBuscarEstudantes">Consultar Estudantes</label>
            <button id="btnBuscarEstudantes" type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>&nbsp;Consultar
            </button>
        </div>
        <div class="col-md-3">
            <label for="btnNewEstudante">Novo Estudante</label>
            <button id="btnNewEstudante" type="button" class="btn btn-secondary">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Novo Estudante
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#btnBuscarEstudantes").click(function() {
                $.ajax({
                    url: '/Estudante/Index',
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    success: function(response) {
                        debugger
                    },
                    error: function(xhr, status, error) {
                        console.error("Erro ao buscar estudantes:", error);
                        let mensagemErro = "Ocorreu um erro ao buscar os estudantes.";

                        if (xhr.status === 404) {
                            mensagemErro = "Página não encontrada. Verifique se a controller existe.";
                        } else if (xhr.status === 500) {
                            mensagemErro = "Erro interno do servidor.";
                        }

                        $("#mensagemErro").text(mensagemErro).show();
                    }
                });
            });

            $("#btnNewEstudante").click(function() {
                $.ajax({
                    url: '/Estudante/NewEstudante',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    success: function(response) {
                        debugger
                    },
                    error: function(xhr, status, error) {
                        console.error("Erro ao buscar estudantes:", error);
                        let mensagemErro = "Ocorreu um erro ao buscar os estudantes.";

                        if (xhr.status === 404) {
                            mensagemErro = "Página não encontrada. Verifique se a controller existe.";
                        } else if (xhr.status === 500) {
                            mensagemErro = "Erro interno do servidor.";
                        }

                        $("#mensagemErro").text(mensagemErro).show();
                    }
                });
            });
        });
    </script>
}
